/** || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/** || FONTS */
@font-face {
  font-display: swap;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/audiowide-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v48-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v48-latin-700.woff2") format("woff2");
}

/** || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF-TITLE: "Audiowide", sans-serif;
  --FF-BODY: "Roboto", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #060621;
  --BGCOLOR-DRUM-CONTAINER: #2c2e43;
  --BGCOLOR-DRUM-BUTTON-QS: #23bc57;
  --BGCOLOR-DRUM-BUTTON-WX: #f36133;
  --BGCOLOR-DRUM-BUTTON-EZ: #8733f3;
  --BGCOLOR-DRUM-BUTTON-AC: #ee58cd;
  --BGCOLOR-DRUM-BUTTON-D: #148cfa;
  --FONT-COLOR-HEADER-TITLE: #f5f5f5;
  --FONT-COLOR-HEADER-TAGLINE: #f5f5f5;
  --FONT-COLOR-DRUM-KEY: #f5f5f5;
  --FONT-COLOR-FOOTER-TAGLINE: #f5f5f5;
  --FONT-COLOR-FOOTER-LINK: #00e5ff;
  --COLOR-DRUM-ICON: #f5f5f5;
  --BORDER-COLOR-DRUM-CONTAINER: rgba(255, 255, 255, 0.12);
  --BORDER-COLOR-DRUM-BUTTON: rgba(255, 255, 255, 0.12);
  --SHADOW-COLOR-DRUM-CONTAINER-1: hsl(235, 21%, 18%);
  --SHADOW-COLOR-DRUM-CONTAINER-2: rgba(0, 0, 0, 0.3);
  --SHADOW-COLOR-DRUM-CONTAINER-3: rgba(0, 0, 0, 0.07);
  --SHADOW-COLOR-DRUM-CONTAINER-4: rgba(255, 255, 255, 0.05);
  --SHADOW-COLOR-DRUM-BUTTON-DEFAULT: hsl(235, 21%, 15%);
  --SHADOW-COLOR-DRUM-BUTTON-QS: hsl(140, 69%, 40%);
  --SHADOW-COLOR-DRUM-BUTTON-WX: hsl(14, 89%, 54%);
  --SHADOW-COLOR-DRUM-BUTTON-EZ: hsl(266, 89%, 54%);
  --SHADOW-COLOR-DRUM-BUTTON-AC: hsl(313, 82%, 60%);
  --SHADOW-COLOR-DRUM-BUTTON-D: hsl(209, 96%, 49%);
  --GRADIENT-COLOR-BODY-1: #242957;
  --GRADIENT-COLOR-BODY-2: #060621;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-LIGHT: #333;
  --BGCOLOR-THEME-BUTTON: #f1f1f1;
  --BGCOLOR-THEME-BUTTON-AFTER: #333;
  --BORDER-COLOR-THEME-BUTTON: #ccc;
  --SHADOW-COLOR-THEME: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDER-THEME-BUTTON: 1px solid var(--BORDER-COLOR-THEME-BUTTON);
  --BORDER-DRUM-CONTAINER: 2px solid var(--BORDER-COLOR-DRUM-CONTAINER);
  --BORDER-DRUM-BUTTON: 1px solid var(--BORDER-COLOR-DRUM-BUTTON);

  /* SHADOWS */
  --BOX-SHADOW-THEME: 0 0 3px var(--SHADOW-COLOR-THEME);
  --BOX-SHADOW-DRUM-CONTAINER: 0 24px 0 var(--SHADOW-COLOR-DRUM-CONTAINER-1),
    0 24px 20px 4px var(--SHADOW-COLOR-DRUM-CONTAINER-2),
    inset 0 1px 60px var(--SHADOW-COLOR-DRUM-CONTAINER-3),
    inset 0 0 20px var(--SHADOW-COLOR-DRUM-CONTAINER-4);
  --BOX-SHADOW-DRUM-BUTTON-QS: 0 10px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-QS),
    0 15px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-WX: 0 10px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-WX),
    0 15px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-EZ: 0 10px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-EZ),
    0 15px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-AC: 0 10px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-AC),
    0 15px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-D: 0 10px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-D),
    0 15px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);

  /* GRADIENTS */
  --GRADIENT-BODY: radial-gradient(
    var(--GRADIENT-COLOR-BODY-1),
    var(--GRADIENT-COLOR-BODY-2)
  );
}

/** || UTILITY CLASSES */
.dark {
  --BGCOLOR: #333;
  /* ADD OTHER DARK COLOR THEME VARIABLES */

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME-BUTTON: #222;
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.3);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}

.bold {
  font-weight: 700;
}

/** || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  background-image: var(--GRADIENT-BODY);
  position: relative;
}

.container {
  padding-inline: 1.5rem;
}

/** || HEADER */
.theme {
  box-shadow: var(--BOX-SHADOW-THEME);
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.theme__button {
  border: var(--BORDER-THEME-BUTTON);
  background-color: var(--BGCOLOR-THEME-BUTTON);
  border-radius: 100px;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme__button::after {
  content: "";
  background-color: var(--BGCOLOR-THEME-BUTTON-AFTER);
  position: absolute;
  left: 0;
  top: 0.225rem;
  bottom: 0.225rem;
  width: 1rem;
  border-radius: 100px;
  transform: translateX(0.2rem);
}

.theme__button.active::after {
  transform: translateX(1.1rem);
}

.theme__icon {
  opacity: 1;
  width: 1.125rem;
}

.theme__icon--light {
  color: var(--FONT-COLOR-THEME-ICON-LIGHT);
}

.theme__icon--dark {
  color: var(--FONT-COLOR-THEME-ICON-DARK);
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-block-start: 4rem;
  margin-block-end: 2rem;
}

.header__title {
  font-family: var(--FF-TITLE);
  color: var(--FONT-COLOR-HEADER-TITLE);
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1;
}

.header__tagline {
  font-family: var(--FF-BODY);
  color: var(--FONT-COLOR-HEADER-TAGLINE);
  text-align: center;
  font-size: 0.875rem;
}

/** || MAIN */
.main {
  margin-block-end: 3rem;
}

.drum__container {
  background-color: var(--BGCOLOR-DRUM-CONTAINER);
  box-shadow: var(--BOX-SHADOW-DRUM-CONTAINER);
  border: var(--BORDER-DRUM-CONTAINER);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.5rem;
  padding: 1.5rem 1.25rem 2rem;
  border-radius: 16px;
  min-width: 17rem;
  max-width: 48rem;
  margin-inline: auto;
}

.drum__button {
  border: var(--BORDER-DRUM-BUTTON);
  position: relative;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
}

.drum__button.active {
  transform: translateY(5px);
  --BOX-SHADOW-DRUM-BUTTON-QS: 0 5px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-QS),
    0 10px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-WX: 0 5px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-WX),
    0 10px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-EZ: 0 5px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-EZ),
    0 10px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-AC: 0 5px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-AC),
    0 10px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
  --BOX-SHADOW-DRUM-BUTTON-D: 0 5px 0 1px var(--SHADOW-COLOR-DRUM-BUTTON-D),
    0 10px 0 5px var(--SHADOW-COLOR-DRUM-BUTTON-DEFAULT);
}

.drum__button[data-key="q"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-QS);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-QS);
}

.drum__button[data-key="w"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-WX);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-WX);
}

.drum__button[data-key="e"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-EZ);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-EZ);
}

.drum__button[data-key="a"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-AC);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-AC);
}

.drum__button[data-key="s"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-QS);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-QS);
}

.drum__button[data-key="d"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-D);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-D);
}

.drum__button[data-key="z"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-EZ);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-EZ);
}

.drum__button[data-key="x"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-WX);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-WX);
}

.drum__button[data-key="c"] {
  background-color: var(--BGCOLOR-DRUM-BUTTON-AC);
  box-shadow: var(--BOX-SHADOW-DRUM-BUTTON-AC);
}

.drum__icon {
  width: 2rem;
  height: auto;
  color: var(--COLOR-DRUM-ICON);
}

.drum__key {
  font-family: var(--FF-TITLE);
  color: var(--FONT-COLOR-DRUM-KEY);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  padding-block-end: 0.25em;
  display: none;
}

/** || FOOTER */
.footer__container {
  padding-block: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.footer__tagline {
  font-family: var(--FF-BODY);
  color: var(--FONT-COLOR-FOOTER-TAGLINE);
  text-align: center;
  font-size: 0.75rem;
}

.footer__link {
  color: var(--FONT-COLOR-FOOTER-LINK);
}

.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: underline;
}

/** || MEDIA QUERY (DEVICE WIDTH) */
@media screen and (min-width: 23.4375rem) {
}

@media screen and (min-width: 48rem) {
}

/** || MEDIA QUERY (REDUCED MOTION) */
/* CHANGE THE DATA BELOW AS NEEDED */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  .drum__button {
    transition: transform 0.07s linear, box-shadow 0.07s linear;
  }

  /* ADD OTHER TRANSITIONS AND ANIMATIONS HERE */

  .theme {
    transition: box-shadow 0.3s ease-in-out;
  }

  .theme__button {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .theme__button::after {
    transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  }

  .theme__icon {
    transition: opacity 0.3s ease-in-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-delay: 0.001ms !important;
    animation-iteration-count: 1 !important;
    animation: none !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    transition: none !important;
    caret-color: auto !important;
  }
}
